<nav>
    <a href="{{ path('homepage') }}">Home</a>
    <a href="{{ path('app_signin') }}">Sign in</a>
    <a href="{{ path('app_login') }}">Log in</a>
    <a href="{{ path('app_logout') }}">Log out</a>
</nav>